 

.footer-copyright {
    text-align: center;
    margin-top: 200px;

}

h3 {
    margin-top: 50px;
}
.home {
    margin-top: 100px;
}
.upload-barre {
    display: flex;
    justify-content: space-between;
    width: 830px;
    margin: auto;
    text-align: center;
    height: 45px;
    border: solid 1px rgb(101, 99, 99);
    border-radius: 50px;
   
}
/* Styles pour les écrans de petite taille */
@media screen and (max-width: 600px) {
    .upload-barre {
        width: 100%;
        border-radius: 50px;
        height: 35px;
        border: solid 1px rgb(101, 99, 99);
    }

    .barre-text {
        padding-top: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}
